html {
  scroll-behavior: smooth; }

body, ul, li {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  line-height: 1.5; }

body {
  background-color: #f2f2f2; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

h2, h3, h4, h5, h6, ul > li, p {
  font-family: "Antic Slab", serif; }

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 65px; }

h2 {
  font-size: 45px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

#about, #toolbox, #projects, #experience {
  padding: 100px 20px; }

#toolbox, #experience {
  background-color: #376153;
  color: #f2f2f2;
  position: relative; }
  #toolbox h2, #experience h2 {
    color: #f2f2f2;
    text-align: center; }

/* End of Common Styles */
#projects h2 {
  color: #376153;
  text-align: center; }

#projects h6 {
  text-align: center; }

#projects #project-container {
  margin: 30px 0 0; }

#projects .projectcard {
  margin-bottom: 55px; }

.projectcard img {
  border: 5px double #376153;
  margin-bottom: 25px;
  border-radius: 15px 0; }

.projectcard .card-details {
  padding: 0 20px;
  color: #376153 !important; }

.projectcard h3 {
  text-decoration: underline;
  font-weight: 600;
  font-family: "Dancing Script", cursive;
  letter-spacing: 2px;
  color: #376153; }

.projectcard .btn {
  background-color: #376153;
  border: 1px solid #376153;
  color: #f2f2f2;
  margin-right: 15px; }

#experience1, #experience2 {
  margin-bottom: 45px; }
  #experience1 ul, #experience2 ul {
    padding-left: 20px;
    list-style: circle; }
    #experience1 ul li, #experience2 ul li {
      color: #f2f2f2; }

#experience .second-col {
  padding-top: 25px; }

.company {
  display: grid;
  align-content: center; }

#experience ul {
  padding-left: 20px;
  list-style: circle; }
  #experience ul li {
    color: #f2f2f2; }

#experience1 h4, #experience2 h4 {
  text-decoration: underline; }

@media only screen and (min-width: 768px) {
  .navbar-nav li.nav-item a {
    font-size: 16px;
    padding: 0px !important; }
  .navbar-nav li.nav-item a::after {
    content: "";
    position: absolute;
    border-top: 1px solid  black;
    border-bottom: 1px solid  black;
    top: 5px;
    right: 0;
    bottom: 5px;
    left: 0;
    transform: scaleX(0);
    transition: 0.4s all ease; }
  .navbar-nav li.nav-item a:hover::after {
    transform: scaleX(1); }
  .navbar-nav li.nav-item a:active::after {
    transform: scaleX(1); }
  #toolbox::before, #experience:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    border-left: 145px solid transparent;
    border-right: 145px solid transparent;
    border-bottom: 50px solid #f2f2f2; }
  #toolbox:after, #experience:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 1;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 50px solid #f2f2f2; }
  #about #education {
    text-align: left !important; }
    #about #education #edu1, #about #education #edu2 {
      display: flex; }
      #about #education #edu1 .fas, #about #education #edu2 .fas {
        margin-right: 15px; }
  #toolbox h2, #experience h2 {
    text-align: right; }
  #projects h2 {
    text-align: left; }
  #experience .first-col {
    position: relative;
    border-right: 1px solid #ffffff;
    text-align: right;
    padding: 0 15px; }
  #experience1, #experience2 {
    margin-bottom: 0px; }
  #experience .first-col:after {
    content: '.';
    font-size: 120px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -15px;
    margin-right: -15px; }
  footer a {
    margin: 0; } }

@media only screen and (min-width: 992px) {
  #about::after {
    content: '';
    position: absolute;
    background-image: url("../images/leone.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
    max-width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; } }

@media only screen and (min-width: 1200px) {
  #about, #toolbox, #experience, #projects {
    padding: 150px; }
  #about {
    height: 100vh; }
  #projects img {
    height: 22rem; } }

/* Website Logo */
.logo span {
  font-family: "Dancing Script", cursive;
  background-color: #376153;
  color: #f2f2f2;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  left: 5%;
  top: 5%; }

/* Mobile Navigation for small devices */
#mobile-nav nav {
  background-color: #f5f5f5;
  box-shadow: 0px 0px 10px -3px #000;
  max-width: 100vw;
  min-height: 60px;
  display: flex;
  justify-content: flex-end; }

#mobile-nav .navbar-nav {
  flex-direction: row; }
  #mobile-nav .navbar-nav li.nav-item:not(:last-child) {
    padding-right: 10px; }
  #mobile-nav .navbar-nav li.nav-item a {
    color: #376153;
    font-size: 12px;
    position: relative; }
  #mobile-nav .navbar-nav li.nav-item a::after {
    content: "";
    position: absolute;
    border-top: 1px solid  black;
    border-bottom: 1px solid  black;
    top: 5px;
    right: 0;
    bottom: 5px;
    left: 0;
    transform: scaleX(0);
    transition: 0.4s all ease; }

/* Desktop Navigation */
#desktop-nav {
  display: none; }

/* About Section */
#about {
  position: relative;
  color: #376153;
  background-color: #f2f2f2;
  z-index: 20;
  margin-top: 50px;
  /* Education section with About section */ }
  #about #education {
    text-align: center;
    padding: 15px; }
    #about #education #edu1, #about #education #edu2 {
      padding: 10px 0; }
    #about #education .fas {
      font-size: 20px;
      background: #376153;
      color: #f2f2f2;
      border-radius: 50%;
      text-align: center;
      padding: 10px;
      margin-bottom: 15px; }

#about #opening-bg {
  display: none; }

/* Toolbox(skills) Section */
#toolbox ul {
  background-color: #f2f2f2;
  margin: 30px 0; }

#toolbox li {
  color: #376153;
  border-bottom: 1px solid #376153;
  padding: 12px;
  list-style: none; }

#toolbox .title {
  font-size: 25px;
  letter-spacing: 3px;
  font-weight: 600;
  font-family: "Dancing Script", cursive; }

footer {
  font-family: "Antic Slab", serif;
  color: #376153;
  padding: 50px 0;
  text-align: center; }
  footer .author span {
    font-family: "Dancing Script", cursive;
    font-size: 18px; }
  footer a {
    color: #376153;
    margin: 30px 0; }
  footer i {
    color: #b20000; }
