
html{
	scroll-behavior: smooth;
}
body{
	padding: 0;
	margin: 0;
	letter-spacing: 1px;
	color: #2c4251;
	background-color: #ffffff;
}

body, ul, li{ margin: 0; padding: 0; }
a{ text-decoration: none; }
h1,h2,h3,h4,h5,h6{  line-height: 1.2}
h2,h3,h4,h5,h6, ul > li { font-family: 'Antic Slab', serif; }
h1{ font-family: 'Dancing Script', cursive; font-size: 45px  margin: 10px 0;}
h2{ font-size: 35px; margin-bottom: 45px; }
h3{ font-size: 22px }
h4{ font-size: 20px }
h5{ font-size: 16px }
h6{ font-size: 14px }
#about,#toolbox, #experience{padding: 50px 40px;}

#mobile-view nav{
	background-color: #f5f5f5;
	box-shadow: 0px 0px 10px -3px #000;
}

#mobile-view nav a{	color: #2c4251; }

#desktop-view {
	display: none;
}


.logo span{
	background-color: #2c4251;
	color: #fff;
	top: 20px;
	font-size: 10px;
	border-radius: 50%;
	padding: 10px;
}

ul.navbar-nav{
	padding: 10px;
}
nav a {
	color:#ffffff;
	display: flex;
	justify-content: center;
	bottom: 0;
	padding: 15px;
	font-size: 16px;
	letter-spacing: 1px;
	font-family: 'Antic Slab', cursive;
	position: relative;
	transition: all 2s ease;
	text-decoration: none!important;
}

nav a:hover{
	color: #ffffff;
}


nav a:hover span{
	display: block;
	padding: 0 15px!important;
}

#about{
	display: flex;
	align-items: center;
	position: relative;
	margin-top: 70px
}

#opening-bg{
	display: none;
}

#education {
	margin-top: 25px;
}

#edu1, #edu2{
	display: flex;
}

#education .fas{
	font-size: 30px;
	padding-right: 25px;
}

ul {
	list-style: none;
}
li span{
	padding: 15px!important;
	margin-bottom: 20px;
	width: 150px;
}

#toolbox {
	background-color: #2c4251;
	color: #ffffff;
	position: relative;
}

#toolbox h2{
	text-align: center;
}

#toolbox ul{
	background-color: #ffffff;
	margin-bottom: 35px;
}

#toolbox .title{
	font-size: 25px;
	letter-spacing: 3px;
	font-weight: 600;
	border-bottom: 2px solid #2c4251;
	font-family: 'Dancing Script', cursive;
}

#toolbox ul li{
	color: #2c4251;
	border-bottom: 1px solid #2c4251;
	padding: 12px;
}

#projects{padding:50px 0px;}

#projects h2{
	text-align: center;
	margin-bottom: 15px;
}

#projects h6{
	margin-bottom: 75px;
}
#projects .projectcard{
    color: #2c4251;
    position: relative;
    margin-bottom: 55px;
}

#projects img{
	height: 15rem;
	border: 5px double #2c4251;
}

#projects .card-body {
	padding: 0 20px ;
}
#projects h3 {
	text-decoration: underline;
	font-weight: 600;
	font-family: 'Dancing Script',cursive;
	letter-spacing: 2px;
} 

#projects .card-text{
	font-family: 'Antic Slab', serif;
}

#projects .btn{
	background-color: #2c4251!important;
	border: 1px solid #2c4251!important;
	color: #ffffff;
	margin-right: 15px;
}

#experience {
	background-color: #2c4251;
	color: #ffffff;
	position: relative;
}
#experience h2{
	text-align: center;
}

#experience1, #experience2{
	padding: 0 0px;
	border-left: 1px solid #ffffff;
	margin-bottom: 45px;
}

#experience .first-col:after{
	content: '.';
	font-size: 120px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-left: -15px;
}

#experience .second-col{
	padding-top: 25px;
}

.company{
	display: grid;
	align-content: center;
}

#experience ul{
	padding-left: 20px;
	list-style: circle;
}

#experience1 h4, #experience2 h4{;
	padding-bottom: 15px;
	text-decoration: underline;
}

footer{
	color: #2c4251;
	padding: 50px;
	text-align: center
}

footer a{
	color: #2c4251;
}
footer i {
	color: #b20000;
}

@media only screen and (min-width: 768px) {

	#toolbox:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 1;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 50px solid #ffffff;
	}
	#toolbox::before {
	    content: '';
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    z-index: 1;
	    border-left: 145px solid transparent;
	    border-right: 145px solid transparent;
	    border-bottom: 50px solid #ffffff;
	}
#toolbox h2{
	text-align: right;
}
#projects{padding: 50px 40px;}

#projects h2{text-align: left;}	
#projects img{
    border-radius: 25px 0 25px 0;
}

#experience h2 {
	text-align: right;
}
#experience::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 1;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 50px solid #ffffff;
}
#experience::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    border-left: 145px solid transparent;
    border-right: 145px solid transparent;
    border-bottom: 50px solid #ffffff;
}
#experience .first-col{
	position: relative;
	border-right: 1px solid #ffffff;
	text-align: right;
}

#experience1, #experience2{
	padding: 0 40px;
	border-left: 0px;
	margin-bottom: 0px;
}

#experience .first-col:after{
	content: '.';
	font-size: 120px;
	position: absolute;
	right: 0;
	top: 0;
	margin-top: -15px;
	margin-right:-15px;
	}

#experience .second-col{
	padding-left: 25px;
	padding-top: 25px;
}

}

@media only screen and (min-width: 992px){
	#about,#toolbox, #experience, #projects{padding: 100px 80px; margin-left:50px}
	h1{ font-family: 'Dancing Script', cursive; font-size: 75px  }
	h2{ font-size: 45px; margin-bottom: 75px; }
	h3{ font-size: 24px }
	h4{ font-size: 22px }
	h5{ font-size: 18px }
	h6{ font-size: 16px }
	#mobile-view {display: none!important;}
	#desktop-view > *{display: block!important;}
	#desktop-view{
	border-right: 5px double #ffffff;
	width: 50px;
	height: 100vh;
	display: grid;
	align-content: end;
	position: fixed;
	background-color: #2c4251;
	}

	.logo{
	position: absolute;
	top: 30px;
	left: 5px;
	font-family: 'Antic Slab';
	}

	nav a span {
	position: absolute;
	background-color: #ffffff;
	color: #2c4251;
	padding: 0;
	left: 100%;
	bottom: 10px;
	display: none;
}
	#about{
		height: 50vh;
		margin-top: 0px;
	}
	#opening-bg{
	display: block;
	content: '';
	position:absolute;
	background-image: url('../images/mandala.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	right: 0%;
	height:100%;
	overflow: hidden;
	}

	

}
@media only screen and (min-width: 1200px){
	#about,#toolbox, #experience, #projects{padding: 150px 220px; margin-left:50px}
	#about{height: 100vh;}
	#projects img{height: 22rem;}
}
/*#qualities{ border-top: 1px solid black; }
#qualities #nav{margin: -7px auto 0px; padding-left: 0px; text-align: center; width: 80%;}
#qualities #nav li { display: inline-block; padding: 40px 0px 30px; position: relative; width: 24%;}
#qualities #nav li a{font-size:28px; font-family: 'Raleway'; color:#000; cursor: pointer; letter-spacing:1px;}
#qualities #nav li:before { position: absolute; content: ''; top: 0; width: 0%; height: 12px; background-color: #C7A481; left: 0; transition: width .4s linear; }
#qualities #nav li.active:before{ width: 100%; left: 0%; }
#qualities #nav li.active{font-weight: 600;}
#qualities #wrapper { background-color: #ffffff; }
#qualities .content{ width: 50%; padding: 50px 25px; margin: auto; text-align: center; font-size: 20px; display: none;}
#qualities .content img{margin: auto; width: 250px; height: 100%; display: flex; margin-bottom: 20px}*/