/* Common styles for multiple elements */
$backgroundColor: #2c4251;
$lighttextColor: #ffffff;
$darktextColor: #2c4251;

html{ scroll-behavior: smooth; }
body, ul, li{ margin: 0; padding: 0; letter-spacing: 1px;}
a{ text-decoration: none; }
h1,h2,h3,h4,h5,h6{  line-height: 1.2}
h2,h3,h4,h5,h6, ul > li { font-family: 'Antic Slab', serif; }
h1{ font-family: 'Dancing Script', cursive; font-size: 55px;  margin: 10px 0;}
h2{ font-size: 45px; margin-bottom: 45px; }
h3{ font-size: 24px }
h4{ font-size: 22px; margin-bottom:10px; }
h5{ font-size: 18px }
h6{ font-size: 16px }
#about,#toolbox, #experience{padding: 50px 40px;}
#toolbox h2, #experience h2 {
	color: $lighttextColor;
	text-align: center;
}

#toolbox, #experience {
	background-color: $backgroundColor;
	color: $lighttextColor;
	position: relative;
}
/* End of Common Styles */

/* Website Logo */
.logo span{
	background-color: $backgroundColor;
	color: $lighttextColor;
	top: 20px;
	font-size: 10px;
	border-radius: 50%;
	padding: 10px;
}

/* Mobile Navigation for small devices */
#mobile-nav {
	nav {
	background-color: #f5f5f5;
	box-shadow: 0px 0px 10px -3px #000;
	max-width: 100vw;
	}

	a{	
		color: #2c4251;
	}
}

/* Desktop Navigation */
#desktop-nav {
	display: none;
}

/* About Section */
#about{
	display: flex;
	align-items: center;
	position: relative;
	margin-top: 70px;
}

#about {
	#opening-bg{
		display: none;
	}
	h1,h4,h5,h5{
		color: #2c4251;
	}
}

/* Education section with About section */
#education {
	#edu1 {
		margin-top: 25px;
	}	
	#edu1, #edu2{
		display: flex;
	}
	.fas{
		font-size: 30px;
		padding-right: 25px;
	}
}

/* Toolbox(skills) Section */
#toolbox {
	ul{
		background-color: $lighttextColor;
	}

	li{
		color: $backgroundColor;
		border-bottom: 1px solid $backgroundColor;
		padding: 12px;
	}
	.title{
		font-size: 25px;
		letter-spacing: 3px;
		font-weight: 600;
		border-bottom: 2px solid $backgroundColor;
		font-family: 'Dancing Script', cursive;
	}
}
#projects{padding:50px 0px;}

#projects {
	h2{
		color: $backgroundColor;
		text-align: center;
	}
	h6{
		margin-top: 15px;
		margin-bottom: 75px;
	}
	.projectcard{
    	margin-bottom: 55px;
	}
}

.projectcard{
	img{
		height: 15rem;
		border: 5px double #2c4251;
		margin-bottom: 25px;
	}
	.card-body {
		padding: 0 20px ;
	}
	h3 {
	text-decoration: underline;
	font-weight: 600;
	font-family: 'Dancing Script',cursive;
	letter-spacing: 2px;
	}	 

	.card-text{
		font-family: 'Antic Slab', serif;
	}

	.btn{
		background-color: #2c4251!important;
		border: 1px solid #2c4251!important;
		color: #ffffff;
		margin-right: 15px;
	}
}

#experience1, #experience2{
	padding: 0 0px;
	border-left: 1px solid #ffffff;
	margin-bottom: 45px;
}

#experience .first-col:after{
	content: '.';
	font-size: 120px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-left: -15px;
}

#experience .second-col{
	padding-top: 25px;
}

.company{
	display: grid;
	align-content: center;
}

#experience ul{
	padding-left: 20px;
	list-style: circle;
}

#experience1 h4, #experience2 h4{
	text-decoration: underline;
}

footer{
	color: #2c4251;
	padding: 50px;
	text-align: center
}

footer {
	a{
	color: #2c4251;
	}
	i {
	color: #b20000;
	}
}

@media only screen and (min-width: 768px) {

	#toolbox:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 1;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 50px solid #ffffff;
	}

	#toolbox::before {
	    content: '';
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    z-index: 1;
	    border-left: 145px solid transparent;
	    border-right: 145px solid transparent;
	    border-bottom: 50px solid #ffffff;
	}

	#toolbox h2, #experience h2{
		text-align: right;
	}

	#projects{padding: 50px 40px;}

	#projects h2{text-align: left;}	
	#projects img{
	    border-radius: 25px 0 25px 0;
	}

	
	#experience::after {
	    content: '';
	    position: absolute;
	    top: 0;
	    right: 0px;
	    z-index: 1;
	    border-left: 150px solid transparent;
	    border-right: 150px solid transparent;
	    border-top: 50px solid #ffffff;
	}
	#experience::before {
	    content: '';
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    z-index: 1;
	    border-left: 145px solid transparent;
	    border-right: 145px solid transparent;
	    border-bottom: 50px solid #ffffff;
	}
	#experience .first-col{
		position: relative;
		border-right: 1px solid #ffffff;
		text-align: right;
	}

	#experience1, #experience2{
		padding: 0 40px;
		border-left: 0px;
		margin-bottom: 0px;
	}

	#experience .first-col:after{
		content: '.';
		font-size: 120px;
		position: absolute;
		right: 0;
		top: 0;
		margin-top: -15px;
		margin-right:-15px;
		}

	#experience .second-col{
		padding-left: 25px;
		padding-top: 25px;
	}
}

@media only screen and (min-width: 992px){
	#about,#toolbox, #experience, #projects{padding: 100px 80px; margin-left:50px}
	
	#mobile-nav {display: none!important;}
	#desktop-nav > *{display: block!important;}
	#desktop-nav{
	border-right: 5px double #ffffff;
	width: 50px;
	height: 100vh;
	display: grid;
	align-content: end;
	position: fixed;
	background-color: #2c4251;
	}

	.logo{
	position: absolute;
	top: 30px;
	left: 5px;
	font-family: 'Antic Slab';
	}


	nav a {
	color:#ffffff;
	display: flex;
	justify-content: center;
	bottom: 0;
	padding: 15px;
	font-size: 16px;
	letter-spacing: 1px;
	font-family: 'Antic Slab', cursive;
	position: relative;
	transition: all 2s ease;
	text-decoration: none!important;
	}

	nav a span {
	position: absolute;
	background-color: #ffffff;
	color: #2c4251;
	padding: 0;
	left: 100%;
	bottom: 10px;
	display: none;
	}

	nav a:hover{
		color: #ffffff;
	}

	nav a:hover span{
		display: block;
		padding: 0 15px!important;
	}

	#about{
		height: 50vh;
		margin-top: 0px;
	}

	#about{
		#opening-bg{
			display: block;
			content: '';
			position:absolute;
			background-image: url('../images/mandala.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			top: 0;
			right: 0%;
			height:100%;
			overflow: hidden;
		}
	}
}
@media only screen and (min-width: 1200px){
	#about,#toolbox, #experience, #projects{padding: 150px 220px; margin-left:50px}
	#about{height: 100vh;}
	#projects img{height: 22rem;}
}