body{
	padding: 0;
	margin: 0;
	letter-spacing: 1px;
	color: #fff;
	background-color:#293132;
}

a{
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}

h1,h3,h5{
	margin-bottom: 25px;
}

h2,h4,h6{
	margin-bottom: 10px;
}

body header{
	border-right: 5px double #fff;
	width: 120px;
	height: 100vh;
	display: grid;
	align-content: end;
	position: fixed;
}

#logo{
	position: absolute;
	top: 50px;
	left: 25px;
}
#logo span{
	background-color: #fff;
	color: #28536B;
	top: 20px;
	font-size: 25px;
	border-radius: 50%;
	padding: 15px;
}

nav a {
	color:#fff;
	display: block;
	bottom: 0;
	padding: 15px;
	font-size: 20px;
	letter-spacing: 1px;
	font-family: 'Dancing Script', cursive;
}

#super-container{
	padding: 0 200px;
	margin-left: 120px;
}
#about{
	display: flex;
	align-items: center;
	/*background: cadetblue;*/
	padding: 200px 0 0px;
}

.profile{
	padding-right: 180px;
	padding-left: 100px;
}
.image{
	background-color: #fff;
	border-radius: 50%;
	width: 250px;
	height: 250px;
}

.intro{
	color: #fff;
}

.intro h5{
	font-size: 20px;
	font-family: 'Antic Slab';
}

.intro h1{
	font-size: 75px;
	font-family: 'Dancing Script', cursive;
}

.intro h3{
	font-size: 16px;
	font-family: 'Antic Slab';
}


#education h2{
	font-size: 20px;
	font-family: 'Antic Slab';
}

#education h4{
	font-size: 16px;
	/*font-family: 'Dancing Script', cursive;*/
	font-family: 'Antic Slab';
}

#education h6{
	font-size: 16px;
	font-family: 'Antic Slab';
}

#edu1, #edu2{
	display: flex;
}

#education .fas{
	font-size: 30px;
	padding-right: 25px;
}

#skills {
	padding: 200px 0;
}
#skills h2{
	font-size: 45px;
	font-family: 'Antic Slab';
	margin-bottom: 25px;
}

.card{
	border: 5px double #fff;
	background-color: #293132;
}

ul {
	list-style: none;
}
li span{
	padding: 15px!important;
	margin-bottom: 20px;
	width: 150px;
}