
#experience1, #experience2{
	margin-bottom: 45px;
	ul{
		padding-left: 20px;
		list-style: circle;
		li{
			color: $lighttextColor;
		}
	}
}

#experience .second-col{
	padding-top: 25px;
}

.company{
	display: grid;
	align-content: center;
}

#experience{
	ul{
		padding-left: 20px;
		list-style: circle;
		li{
			color: $lighttextColor;
		}
	}
}	

#experience1 h4, #experience2 h4{
	text-decoration: underline;
}

