@media only screen and (min-width: 768px) {
	#about, #toolbox, #projects, #experience{ padding: ($basePadding + 50) 50px; }
	#toolbox::before, #experience:before {
	    content: '';
	    position: absolute;
	    bottom: 0;
	    right: 0;
	    z-index: 1;
	    border-left: 145px solid transparent;
	    border-right: 145px solid transparent;
	    border-bottom: 50px solid $lighttextColor;
	}

	#toolbox:after, #experience:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 1;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 50px solid $lighttextColor;
	}

	#about{
	#education{
			text-align: left!important;
			#edu1, #edu2{
				display: flex;
				.fas{
					margin-right: 15px;
				}
			}
		}		
	}	
	#toolbox h2, #experience h2{
		text-align: right;
	}

	#projects h2{text-align: left;}	

	#experience .first-col{
		position: relative;
		border-right: 1px solid #ffffff;
		text-align: right;
		padding: 0 ($basePadding - 35);
	}

	#experience1, #experience2{
		margin-bottom: 0px;
	}

	#experience .first-col:after{
		content: '.';
		font-size: 120px;
		position: absolute;
		right: 0;
		top: 0;
		margin-top: -15px;
		margin-right:-15px;
		}

	footer{
		a{
			margin: 0;
		}
	}	
}

@media only screen and (min-width: 992px){
	#about,#toolbox, #experience, #projects{padding: 100px 80px; margin-left:50px}
	
	#mobile-nav { display: none!important; }
	#desktop-nav { display: block!important; }
	#desktop-nav{
		border-right: 5px double #ffffff;
		width: 60px;
		height: 100vh;
		display: grid!important;
		align-content: end;
		position: fixed;
		background-color: $backgroundColor;
		z-index: 30;
	}

	.logo {
	position: absolute;
	top: 30px;
	left: 5px;
		span{
			background-color: $lighttextColor!important;
			color: $darktextColor!important;
		}
	}	


	nav a {
	color:#ffffff;
	display: flex;
	justify-content: center;
	bottom: 0;
	padding: 15px;
	font-size: 16px;
	letter-spacing: 1px;
	font-family: 'Antic Slab', cursive;
	position: relative;
	transition: all 2s ease;
	text-decoration: none!important;
	}

	nav a span {
	position: absolute;
	background-color: #ffffff;
	color: #2c4251;
	padding: 0;
	left: 100%;
	bottom: 10px;
	display: none;
	}

	nav a:hover{
		color: #ffffff;
	}

	nav a:hover span{
		display: block;
		padding: 0 15px!important;
	}

	#about{
		&::after{
			// background-image: url('https://image.freepik.com/free-vector/startup-life-concept-illustration_114360-1068.jpg');
			//1F7A8C
		content: '';
		position: absolute;
		background-image: url('../images/leone.jpg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center right;
		max-width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		width: 100%;
		z-index: -1;
		}
	}
}

@media only screen and (min-width: 1200px){
	#about,#toolbox, #experience, #projects{padding: $basePadding + 100; margin-left:50px}
	#about{height: 100vh;}
	#projects img{height: 22rem;}
}